* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
}
canvas:hover {
  cursor: crosshair;
}
#controls {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #666;
}
.input-group {
  float: left;
  padding-right: 10px;
}
.input-group input {
  width: 70px;
}
